
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: '\5FAE\8F6F\96C5\9ED1';
   font-size: 100%;
   background: url(../images/bg.jpg) 50% 0 #edeeef no-repeat; 
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.padding-l{padding-left:10px;}
.padding-r{padding-right:10px;}
.padding-t{padding-top:20px;}
.fl{ float:left;}
.fr{ float:right;}


/*----start-header----*/
.header{
	background:#edeeef;
}
.dropdown_box {
	float: right;
	width: 10%;
}
.metro{
	position: relative;	
	cursor: pointer;
	font-weight:600;
	background:#d1e1e3;
	color:#898989;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.metro.open{
	z-index: 2;
}
.metro:hover,
.metro.focus{
	color:#666;
}
/* OLD SELECT (HIDDEN) */
.metro .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.metro select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.metro.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.metro .selected {
    color:#fff;
}
.metro .selected:hover{
	color:#8fbe00;
}
.metro .selected,
.metro li{
	display: block;
	font-size: 12px;
	padding: 5px 0px 5px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-weight: 100;
	text-transform: uppercase;
}
.metro .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 13px;
	background: url(../images/img-sprite.png) no-repeat 1px 2px #40c0cb;
}
/* DROP DOWN WRAPPER */
.metro div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	background:#d1e1e3;
	overflow: hidden;
	opacity: 0;
	color: #FFF;
}
/* Height is adjusted by JS on open */
.metro.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.metro.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.metro ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding:0;
	list-style: none;
	overflow: hidden;
}
.metro.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.metro li{
	list-style: none;
	padding: 6px 10px;
	font-size:0.85em;
	font-weight: 400;
	text-transform: lowercase;
}
.metro li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.metro li:hover{
	background-color:#7fa900;
}
.metro li.focus{
	background:#00a8b6;
	position: relative;
	z-index: 3;
	color:#FFF;
}
.metro li.active{
    background-color:#39abb5;
	color: #fff;
}
.header_top {
	padding:30px 0;
}
.logo{
	float:left;
}
.menu{
	 float:right;
}
.menu li{
	display:inline-block;
	float:left;
}
 .menu li:first-child{
   	margin-left:0;
}
.menu li a{
  	display: block;
	font-size: 1em;
	color: #999;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-weight: 100;
	padding: 8px 15px 6px;
}
#nav .current a {
   color:#000;
   border-bottom:3px solid #0066ae;
   -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu li a:hover ,.menu li.active a{
   color:#000;
   border-bottom:3px solid #0066ae !important;
} 
.toggleMenu {
	display:  none;
   	padding:4px 5px 0px 5px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
@media screen and (max-width:800px) {
	.menu {
		margin:10px 0;
	}
    .active {
        display: block;
    }
    .menu li a{
    	text-align:left;
    	border-radius:0;
    	-webkit-border-radius:0;
    	-moz-border-radius:0;
    	-o-border-radius:0;
    }
    .nav {
	     list-style: none;
	     *zoom: 1;
	     width:95%;
		 position: absolute;
		 right:10px;
		 background:#051619;
		 top:86px;
		 z-index: 9999;
		 border:1px solid #C5C5C5;
    }
   .menu li a span.messages{
    	text-align:center;
    	top:15px;
    }
    .nav li ul{
    	width:100%;   	
    }
    .menu ul{
    	margin:0;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li a{
    	border-top:1px solid #EFEFEF;
    	background:#fff;
    }
     .nav li:first-child a{
     	border-top:none;
     }
 }
/**** Slider *****/
.banner{
	min-height:400px;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display: inline-block;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width:40px;
	height:24px;
	text-indent: -9999px;
	background: url(../images/arrows2.png) no-repeat;
	top: 12em;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position:16px 0;
	left: 0px;
}
.wmuSliderNext {
	background-position:-16px 0;
	right: 0px;
}
.banner_container{
	width:1000px;
	margin: 0 auto;
}


i.icon1{
	width: 60px;
	height: 65px;
	background: url(../images/img-sprite.png)no-repeat -168px -5px;
	display: inline-block;
}
i.icon2{
	width: 60px;
	height: 65px;
	background: url(../images/img-sprite.png)no-repeat -233px -3px;
	display: inline-block;
}
i.icon3{
	width: 60px;
	height: 65px;
	background: url(../images/img-sprite.png)no-repeat -9px -83px;
	display: inline-block;
}
.box_1 h3{
	color: #184448;
	font-size: 1.7em;
	font-weight: 600;
	margin: 0.6em 0 0.8em;
}
.box_1 p{
	color:#747676;
	font-size:1em;
	font-weight: 500;
	line-height:1.8em;
}
.grid_2{
	background:#fff;
	padding:5em 0;
}
.grid_2 h3, .grid_1 h2, .new h3{
	text-align: center;
	color: #184448;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5em;
}

/*-----------------------------------------------------------------------------------*/
/*	Stroke
/*-----------------------------------------------------------------------------------*/
.b-link-stroke{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
	margin-bottom: 5px;
}
.b-link-stroke .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:9em;
	left:0;
	text-align:center;
	color:#ffffff;
}
.b-link-stroke .b-wrapper2{
	position:absolute;
	width:100%;
	height:100%;
	top:16em;
	left:0;
	text-align:center;
	color:#ffffff;
}
.b-link-stroke .b-top-line{
	position:absolute;
	top:-100%;
	left:0;
	width:50%;
	height:100%;
	background:rgba(0, 168, 182, 0.8);
}
.b-link-stroke .b-bottom-line{
	position:absolute;
	bottom:-100%;
	right:0;
	width:50%;
	height:100%;
	background:rgba(0, 168, 182, 0.8);
}
.b-link-stroke .b-top-line, .b-link-stroke .b-bottom-line{
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
} 
.b-link-stroke:hover .b-top-line{
	top:0;
}
.b-link-stroke:hover .b-bottom-line{
	bottom:0;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
.b-from-right{
	position:relative;
	right:-100%;
}
.b-animate-go:hover .b-from-right{
	right:0;
}
.b-from-top{
	position:relative;
	top:-100%;
}
.b-animate-go:hover .b-from-top{
	top:0;
}	
.b-from-bottom{
	position:relative;
	bottom:-100%;
}
.b-animate-go:hover .b-from-bottom{
	bottom:0;
}
.b-scale{
	position:relative;
	transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	-webkit-transform:scale(0);
}
.b-animate-go:hover .b-scale, h1{
	transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transform:scale(1);
}
.grid_1{
	margin: 1em 0;
}
.box_3{
	border:1px solid #cccfd2;
}
.box_4{
	padding:2em 1em;
	background:#fff;
}
.search_title{
	height:32px;
	padding:6px 125px 14px 40px;
	font-size: 1em;
	font-weight: 600;
	color:#FFF;
	position:relative;
	left:-22px;
	background:url(../images/1-index_15.png) no-repeat;
}
.search_con{
	color:#333;
	font-size:0.8em;
	line-height: 1.8em;
	margin-top:4em;	
	overflow:hidden;
}

.search_ul{
	margin-bottom:10px;
	padding:0 0 0 17px;
	clear:both;
}
.search_ul span{
	padding:5px 5px 0 0;
	font-size:1em;
	font-weight:800;
	float:left;
	height:65px;
}
.search_ul label{
	float:left;
	list-style:none;
	margin:0 5px;
	padding:5px 0;
}
.search_ul label input[type="radio"]{
	/*display:none;*/	
}
.search_ul .search_bg{
	color:#333;		
	padding:5px 10px;
	cursor:pointer;
}
.search_ul .search_bg:hover,.search_ul .search_bg:checked{
	color:#FFF;
	background:#006dba;	
	text-decoration:none;
}

.search_ul input[type="radio"]{
	display:none;
}

.search_ul .cursor{
	color:#FFF;
	background:#006dba;	
	text-decoration:none;		
}

.search_ul input[type="radio"]:checked+label{
	color:#FFF;
	background:#006dba;	
	text-decoration:none;		
}

.search_index{
	margin:40px 0 0 5px;
	border: 1px solid #12a84f;
	background:none;	
	position: relative;
	margin-bottom: 2em;
}
.search_index input[type="text"] {
	padding: 8px 15px  8px 0;
	font-weight: 100;
	font-size: 1.2em;
	line-height:1.5em;
	line-height:1.6em\9;
	color: #666;
	border: none;
	outline: none;
	width:90%;
	background: none;
}
.search_index input[type="submit"] {
	background: url(../images/search1.png) #12a84f no-repeat 18px 9px;
    width: 60px;
    height: 39px;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}

.box_4 h3{
	padding:2px 0  0 25px;
	font-size: 1em;
	font-weight: 600;
	color:#333;
	background: url(../images/1-index_13.png) no-repeat;
}
.box_4 .login{
	font-size:0.85em;
	font-weight: normal;
}
.box_4 .login ul{
	padding:0;
}
.box_4 .login li{
	list-style-type: none;
	margin:18px 0 21px 0;
	overflow: hidden;
}

.box_4 .login li{
	list-style-type: none;
	margin:20px 0 21px 0;
	overflow: hidden;
}


.box_4 .login li input{
	width:215px;
	border:#CCC solid 1px; 
	padding:8px 5px 5px; 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
} 
.box_4 .login li img{
	margin:0 5px;
}
.box_4 .login  label{
    width:56px;
    display: inline-block;
    text-align: right;
/*     margin-right:5px; */
}
.box_4 .login  span{ 
display: block; 
color: #6296b4; 
}
.box_4 .login p{
    position: relative;
	left: 62px;
    bottom: 15px;
    z-index: 33;
}
.box_4 .login .button{
	padding:0 0 0 5px;
	width:135px; 
	height: 45px;
	font-size:1em;
	font-weight:800;
	line-height: 45px;
	border:none;	
	color: #fff;
	z-index: 3; 
	text-align: center; 
	letter-spacing: 5px;
}
.box_4 .login .button:hover{
	color:#CCC;
}
.box_4 .login .btnbg1{
	background: url(../images/1-index_18.png) no-repeat; 
}
.box_4 .login .btnbg2{
	background: url(../images/1-index_20.png) no-repeat; 
}
.box_4 .login .btnbg3{
	background: url(../images/1-index_18.png) no-repeat 70px 0 #006dba;
	padding-left:15px;
}
.box_4 .login .btnbg4{
	background:url(../images/1-index_20.png) no-repeat 70px 0 #12a84f; 
	padding-left:15px;
}
.box_4 .login .btnbg5{
	background:#999;
	padding-left:15px;
}
.box_4 .in b{
	font-size:1.2em;	
}
.box_4 .in .last{
	text-align:center;
	font-size:0.75em;
	font-style:italic;
	color:#999;	
	margin: 5px 0;
}
.box_4 .in .button{
	width: 96%;
    border: #CCC solid 1px;
    margin: 10px 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}
span.more {
	color:#006dba;
	font-size:1em;
	font-weight:100;
	position: relative;
    right: 0;
    top: -30px;	
}
span.more:hover{
	text-decoration:none;
	color:#014473;
}

.hotjob{
	width:calc(100% - 2em - 2%);
	height:244px;
	overflow:hidden;
	margin:0;
	padding:0;
	margin-left: 4%;
}
.hotjob li{
	font-size:0.85em;
	float:left;
	margin:0 2% 3% 0;
	width:calc(50% - 2%);
	height:1.3em;
	list-style-type: none;
	display:inline;
	overflow: hidden;
} 
/*--footer--*/
.footer{
	padding:2em 0;
}

.copy p{
	font-size:0.85em;
	color:#545454;
	height:5em;
	line-height:5em;
	background:#D4D4D4;
	text-align:center;
}
.copy p a{
	color: #40c0cb;
}
.copy p a:hover{
	text-decoration:none;
	color:#8fbe00;
}

/* reg*/
.left_title{
	width: 233px;
    height: 42px;
    padding: 6px 0 14px 40px;
    font-size: 1em;
    font-weight: 600;
    color: #FFF;
    position: absolute;
    left: -5px;
	top:2.6em;
    background: url(../images/2-campus_07.png) no-repeat;
	
}

.left_col{
	margin-top:40px;
	padding:0 0 0 17px;
	clear:both;
}

.left_col li{
	font-size: 0.8em;
	list-style:none;
	margin:10px 0;
	padding:8px 0 0 30px;
	height:35px;
	background: url(../images/2-campus_11.png) no-repeat;
}
.left_col li a{
	color:#fff;	
}
.left_col li a:hover{
	color:#ccc;
	background:#006dba;	
	text-decoration:none;		
}

.minheight{	
	min-height:758px;
	_height:758px; 
}

.col_more {
	color:#006dba;
	font-size:0.75em;
	font-weight:100;
	position: relative;
    right: 0;
    top: -30px;	
}
.col_more a{
	color:#006dba;
}
.col_more:hover{
	text-decoration:none;
	color:#014473;
}
.col_more img{
	margin-top:-2px;
}
.reg_con  ul{
	padding: 20px 0 0 0;
}
.reg_con  li{
	font-size:0.75em;
	list-style-type: none;
	margin:20px 0 21px 0;
	overflow: hidden;
}
.reg_con li input{
	/*font-size:0.75em;*/
	width:215px;
	border:#CCC solid 1px; 
	padding:8px 5px 5px; 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
} 
.reg_con li input.w{
	width:430px;
}
.reg_con li img{
	margin:0 5px;
}
.reg_con li  label{
    width:165px;
    display: inline-block;
    text-align: right;
    margin-right:5px;
}
.reg_con p{
	font-size:0.75em;
	color:#ccc;
    display: inline-block;
	margin-left:173px;
	margin-top:5px;
	
}
.reg_con p.tl{
	margin-bottom:75px;
}
.reg_con span{
	font-size:1.2em;
	margin:0 .5em;
}
.red{
	color:#F00;
}
.green{
	color:#12a84f;
}
.reg_con .btn_m{
	margin:0 auto;
	width:335px;
	
}
.reg_con .hard{
	margin: 7px 100px 5px 3px;
}
.reg_con .hard dd{
	width:60px;
	background:#d4d4d4;
	font-size:0.85em;
	font-weight:600;
	padding:0;
	text-align:center;
	margin:0 1px;
	color:#fff;
}
.reg_con .hard .hard_low{
	background:#F00;
}
.reg_con .hard .hard_mid{
	background:#F90;
}
.reg_con .hard .hard_high{
	background:#093;
}
.reg_con .button{
	padding:0 0 0 5px;
	width:135px; 
	height: 45px;
	font-size:1em;
	font-weight:800;
	line-height: 45px;
	border:none;	
	color: #fff;
	z-index: 3; 
	text-align: center; 
	letter-spacing: 5px;
	background:#d4d4d4;
	margin:0 15px;
}
.reg_con .button:hover{
	color:#666;
}
.reg_con .btnbg1{
	background:#12a84f;
}
/*campus*/

.col_main{
	padding: 20px 15px 20px 20px;
    font-size: 0.85em;
    line-height: 2;
}
.col_main p{
	text-indent: 2em;
}
.col_main h2{
	color:#006DBA; 
	font-size:1.2em; 
	line-height:2;
}
.col_search{
	background:#F0F1F3;
	padding: 15px 0 15px 25px;
	font-size:0.85em;
	margin-top:20px;
}
.col_search label{
	margin-right:10px;
}
.col_search .col_search_add,.col_search .col_search_edu,.col_search .col_search_text{
	width: 199px;
	margin:10px 0;
}
.col_search .col_search_text{
	width:433px;
}
.col_search .col_search_btn{
	padding: 0 0 0 10px;
    width: 115px;
    height: 26px;
    font-size: 1em;
    font-weight: 800;
    border: none;
    color: #fff;
    z-index: 3;
    text-align: center;
    letter-spacing: 10px;
    background: #006DBA;
    margin: -36px 15px 0 0;
}

.col_h{
	border-bottom:#006DBA 3px solid;
	margin:15px 0;
}
.col_h h3{
	width: 15%;
    text-align: center;
    color: #fff;
    font-weight: 800;
    background: #006DBA;
    padding: 10px;
    margin: 0;
    font-size: 0.8em;
}
.col_h_green{
	border-bottom:#12a84f 3px solid;
}

.col_tab{
	border:none;
	font-size: 0.8em;
}
.col_tab tr td{
	padding:5px;
	height:2.5em;
	line-height:2.5em;
	border-bottom:#E1E1E1 solid 1px;
}
.col_tab_title{
	font-size: 1em;
	font-weight:800;
	color:#000;	
}
.bg_gray{
	background:#E1E1E1;
}
.col_tab_t:hover{
	background:#ccc;
	cursor:pointer;
}
.col_tab_num{
	margin:0 5px;
	color:#006DBA;
	font-size:1.2em;
	font-weight:bold;
}
.col_tab_join{
	background: url(../images/2-campus_11.png) no-repeat -25px -5px;
    padding: 5px 78px 5px 10px;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
}
.col_tab_joingo{
	background:#ECECEC;
    padding: 5px 91px 5px 10px;
    color: #000;;
    font-size: 1em;
    font-weight: bold;
}
.col_tab .add{
	margin:0 5px;
}

.page{
	text-align:center;
	padding:10px;
}

.page a{
	margin: 10px;
    font-size: 1em;
    font-weight: 800;
    color: #006DBA;
}

/*弹出招聘信息*/
.aui_header{
	display:none;
}
.pop_job{
	background:#FFF;
	position: relative;
}
.pop_w{
	width:800px;
}
.pop_w2{
	width:400px;
}
.pop_job h2{
	padding:10px;
	font-size:1.2em;
	line-height:1.2em;
	font-weight:800;
	color:#FFF;
	background:#006DBA;
}
.close{
	background: url(../images/close.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover{
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
  
}

.pop_job_col{
	margin:0 auto;
}
.pop_job_col tr td{
	height:50px;
	line-height:50px;
}
.pop_job_col .title{
	width:95px;
	text-align:right;
	margin:0 5px;
	font-size:0.9em;
	font-weight:bold;
	color:#006DBA;
	display:inline-block;
}
.pop_job_col .con{
	border:#E1E1E1 solid 1px;
	padding:5px;
	font-size:0.85em;
	color:#333;
	display:inline-block;
	line-height:20px;
	
}
.w833{ width:calc(100% - 120px);}
.h300{
	height:200px;
}
.pop_job_p{
	text-align: center;
	margin: 30px 0;
}
.pop_job_in{
    background: url(../images/2-campus_11.png) no-repeat -30px -3px;
    padding: 5px 60px 5px 10px;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
	cursor:pointer;
}
.pop_job_yix{
    font-size: 1em;
    font-weight: bold;
}
.pop_job_yix .tt{
	text-align:right;
	margin:0 5px;
	font-size:0.9em;
	font-weight:bold;
	color:#006DBA;
	display:inline;
}
.pop_job_yix .cop{	
	padding: 5px;
    font-size: 1.2em;
    color: #333;
    line-height:20px;
    margin: 0;
	text-align:left;
	display:inline;
}
.pop_job_yix .cop p{
    font-size: 0.75em;
    line-height: 20px;
    margin: -18px 0 0 -47px;
    text-align: left;
    display: inline-block;
    position: absolute;
}
.pop_job_yix .cen{
	width:100%;
	padding: 5px;
    font-size:0.85em;
    color:#F00;
    line-height:20px;
    margin: 0;
	text-align: center;
	display: inline-block;
}
.pop_job_main{
	padding:20px;
	text-align:center;
}
.pop_job_main h4{
	font-size: 1.2em;
	font-weight:bold;
	text-align:center;
}

.pop_job_main p{
	text-align:left;
	font-size:0.85em;
	line-height:1.2em;}
.btn{
	width:100%;
	text-align: center;
	display: inline-block;
}
.btn input[type="submit"] {
	margin:5px;
	background: #12a84f ;
    width:100px;
    height:30px;
    border: none;
    cursor: pointer;
	color:#FFF;
}
.btn input[type="reset"] {
	margin:5px;
	background: #666 ;
    width:100px;
    height:30px;
    border: none;
    cursor: pointer;
	color:#FFF;
}

.notice_btn input[type="submit"],.notice_btn input[type="reset"]{
	width:80px;
    height:25px;
	margin:0 5px;
}
/*简历*/
.col_cv_main{
	padding:0;
    font-size: 0.85em;
    line-height: 2;
}
.col_cv{
	width: calc( 100% - 100px );
	border-top:#090 solid 2px;
}
.col_cv .col_cv_title{
	border-bottom:#CCC solid 1px;
	display: inline-block;
    width: 100%;
}
.col_cv .col_cv_title li{
	font-size:1em;
	list-style-type: none;
	float:left;
	width:33.33%;
	text-align:center;
	padding:5px 0;
}
.col_cv .col_cv_btn a{
	color: #fff;
    background: #006dba;
    margin: 5px;
    padding:0 10px;
    display: inline-block;
}
.col_cv .col_cv_btn a.yes{
	background:#12a84f; 
}
.col_cv .col_cv_btn a.no{
	background:#999; 
}
.col_cv .col_cv_btn p{
	margin: 5px;padding: 0 10px; 
}


.col_cv_tab {
	position:relative;
	margin-top:20px ;
	padding-bottom:20px;
	background:#F0F1F3;
}
.col_cv_tab .duoge {
	position:relative;
	margin: 40px 0 10px 0;
	border-bottom:1px dashed #999;
	padding:0 0 10px 0;
}
.col_cv_tab .edit{
	position: absolute;
    right:45px;
    top: 12px;
}
.col_cv_tab .del{
	position: absolute;
    right:15px;
    top: 13px;
}
.col_cv_tab .edit2{
	position: absolute;
    right:45px;
    top: -35px;
}
.col_cv_tab .del2{
	position: absolute;
    right:15px;
    top:-34px;
}
.col_cv_tab h4{
	padding: 20px 20px 10px 50px;
    font-size: 1.2em;
    font-weight: 800;
    background: url(../images/icon-3.png) no-repeat 20px 20px;
}
.col_cv_tab h4 i{
	font-size:0.8em;
	font-weight: normal;
	color:#666;
	font-style:normal;
}
.col_cv_tab  label{
    width:130px;
    display: inline-block;
    text-align: right;
    margin-right:5px;
	color:#333;
	float: left;
}
.col_cv_tab tr td{
	padding-top:5px;
    color: #666;
}
.col_cv_tab span{
	margin:0 10px;
}
.col_cv_tab .col_cv_alt{
	margin:0 0 0 141px;
	text-align:left;
	font-size:0.85em;
	color:#F00;	
}
.col_cv_tab .col_cv_alt1{
	margin-left:140px;
	text-align:left;
	font-size:0.85em;
	color:#666;	
}
.col_cv_tab  input[type="text"],.col_cv_tab  input[type="textarea"],.col_cv_tab  select{
	padding:3px 10px;
	color: #666;
	border:#999 solid 1px;
	outline: none;
	background:#FFF;
	line-height:1.2em;
}
.col_cv_tab  select{
    padding: 4px;
}
.col_cv_tab input[type="button"],.col_cv_tab input[type="submit"],.col_cv_tab input[type="reset"]{
	padding:3px 25px;
    border: none;
    cursor: pointer;
	color:#FFF;
}
.col_cv_tab .submit{
	margin:10px 5px;
	background: #12a84f ;
}
.col_cv_tab .reset {
	margin:10px 5px;
	background: #666 ;
}
.col_cv_tab .new {
	margin:10px 33px 0 0;
	background: #006dba ;
}
.col_cv_tab .w185{
	width:185px;
}
.col_cv_tab .w537{
	width:537px;
}
.col_cv_tab .user_pic{
	z-index:9;
	margin: 0 6px 10px 20px;
}
.col_cv_tab .user_pic.mr{
	margin-right:35px;
}
.col_cv_tab .user_pic .img{
	position: relative;
}
.col_cv_tab .user_pic img{
	border:#CCC solid 1px;
	width:120px;
	height:150px;
}
.col_cv_tab .user_pic input{
	width:120px;
	height:150px;
	position: absolute;
	opacity: 0;
	top:0;
	left: 105px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.col_cv_tab .user_pic label{
	width:100px;
}
.user_pic .tip_note {
    text-align: center;
    font-size: 12px;
    padding-left: 80px;
}

/*新增*/
.userForm .col_cv_alt{
	margin:0 0 0 175px;
	text-align:left;
	font-size:0.85em;
	color:#F00;	
}
.selectCity .prov,.selectCity .city,.selectCity .dist{
	width:90px;
}
/****404****/
.error{
	text-align:center;
	position:relative;
	margin:150px 0 0 0;
}