<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.DictDataMapper">
	<resultMap type="dictData" id="dictDataResultMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="type_code" property="typeCode" jdbcType="VARCHAR"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="baseSql">
		select
			id
			,type_code
			,code
			,name
			,remark
		from zp_dict_data
	</sql>
	
	<select id="getListByTypes" resultMap="dictDataResultMap" parameterType="list">
		<include refid="baseSql"/>
		where type_code in
		<foreach item="item" index="index" collection="list"
		      open="(" separator="," close=")">
		        #{item}
		</foreach>
		order by type_code,orderby desc
	</select>
	
	<select id="getAllList" resultMap="dictDataResultMap" parameterType="list">
		<include refid="baseSql"/>
		order by type_code,orderby desc
	</select>
	
	<select id="get" resultType="dictData" parameterType="dictData">
		<include refid="baseSql"/>
		where type_code=#{typeCode}
			and code=#{code}
	</select>
</mapper>