<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.ResumeForeignLanguageMapper">
	<cache/>
	<sql id="whereSql">
		where id=#{id}
			and resume_id=#{resumeId}
	</sql>
	
	<sql id="selectSql">
		select
			id
			,resume_id as resumeId
			,level
			,score
			,speaking
			,others
			,proficiency
		from zp_resume_foreign_language
	</sql>
	
	<!-- 获得 -->
	<select id="get" parameterType="resumeForeignLanguage" resultType="resumeForeignLanguage">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- 查询 -->
	<select id="getList" parameterType="int" resultType="resumeForeignLanguage">
		<include refid="selectSql"/>
		where resume_id=#{resumeId}
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="resumeForeignLanguage" useGeneratedKeys="true" keyProperty="id">
		insert into zp_resume_foreign_language(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			id
			</if>
			<if test="resumeId!=null">
			,resume_id
			</if>
			<if test="level!=null">
			,level
			</if>
			<if test="score!=null">
			,score
			</if>
			<if test="speaking!=null">
			,speaking
			</if>
			<if test="others!=null">
			,others
			</if>
			<if test="proficiency!=null">
			,proficiency
			</if>
		</trim>
		)values(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			#{id}
			</if>
			<if test="resumeId!=null">
			,#{resumeId}
			</if>
			<if test="level!=null">
			,#{level}
			</if>
			<if test="score!=null">
			,#{score}
			</if>
			<if test="speaking!=null">
			,#{speaking}
			</if>
			<if test="others!=null">
			,#{others}
			</if>
			<if test="proficiency!=null">
			,#{proficiency}
			</if>
		</trim>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="resumeForeignLanguage">
		update zp_resume_foreign_language
		<set>
			resume_id=#{resumeId},
			level=#{level},
			score=#{score},
			speaking=#{speaking},
			others=#{others},
			proficiency=#{proficiency},
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="resumeForeignLanguage">
		delete from zp_resume_foreign_language
		<include refid="whereSql"/>
	</delete>
</mapper>