<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.ResumeFamilyMapper">
	<cache/>
	<sql id="whereSql">
		where id=#{id}
			and resume_id=#{resumeId}
	</sql>
	
	<sql id="selectSql">
		select
			id
			,resume_id as resumeId
			,name
			,relationship
			,work_company as workCompany
			,work_job as workJob
			,description
		from zp_resume_family
	</sql>
	
	<!-- 获得 -->
	<select id="get" parameterType="resumeFamily" resultType="resumeFamily">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- 查询 -->
	<select id="getList" parameterType="int" resultType="resumeFamily">
		<include refid="selectSql"/>
		where resume_id=#{resumeId}
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="resumeFamily" useGeneratedKeys="true" keyProperty="id">
		insert into zp_resume_family(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			id
			</if>
			<if test="resumeId!=null">
			,resume_id
			</if>
			<if test="name!=null">
			,name
			</if>
			<if test="relationship!=null">
			,relationship
			</if>
			<if test="workCompany!=null">
			,work_company
			</if>
			<if test="workJob!=null">
			,work_job
			</if>
			<if test="description!=null">
			,description
			</if>
		</trim>
		)values(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			#{id}
			</if>
			<if test="resumeId!=null">
			,#{resumeId}
			</if>
			<if test="name!=null">
			,#{name}
			</if>
			<if test="relationship!=null">
			,#{relationship}
			</if>
			<if test="workCompany!=null">
			,#{workCompany}
			</if>
			<if test="workJob!=null">
			,#{workJob}
			</if>
			<if test="description!=null">
			,#{description}
			</if>
		</trim>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="resumeFamily">
		update zp_resume_family
		<set>
			resume_id=#{resumeId},
			name=#{name},
			relationship=#{relationship},
			work_company=#{workCompany},
			work_job=#{workJob},
			description=#{description},
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="resumeFamily">
		delete from zp_resume_family
		<include refid="whereSql"/>
	</delete>
</mapper>