<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.ResumeWorkMapper">
	<cache/>
	<sql id="whereSql">
		where id=#{id}
			and resume_id=#{resumeId}
	</sql>
	
	<sql id="selectSql">
		select
			id
			,resume_id as resumeId
			,company
			,department
			,annual_salary as annualSalary
			,job
			,certifier
			,certifier_mobile as certifierMobile
			,work_place as workPlace
			,job_type as jobType
			,industry
			,begin_date as beginDate
			,end_date as endDate
			,dimission_reason as dimissionReason
			,duty
			,performance
		from zp_resume_work
	</sql>
	
	<!-- 获得 -->
	<select id="get" parameterType="resumeWork" resultType="resumeWork">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- 获得数量 -->
	<select id="getCount" parameterType="int" resultType="int">
		select count(*) from zp_resume_work where resume_id=#{resumeId}
	</select>
	
	<!-- 查询 -->
	<select id="getList" parameterType="int" resultType="resumeWork">
		<include refid="selectSql"/>
		where resume_id=#{resumeId}
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="resumeWork" useGeneratedKeys="true" keyProperty="id">
		insert into zp_resume_work(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			id
			</if>
			<if test="resumeId!=null">
			,resume_id
			</if>
			<if test="company!=null">
			,company
			</if>
			<if test="department!=null">
			,department
			</if>
			<if test="annualSalary!=null">
			,annual_salary
			</if>
			<if test="job!=null">
			,job
			</if>
			<if test="certifier!=null">
			,certifier
			</if>
			<if test="certifierMobile!=null">
			,certifier_mobile
			</if>
			<if test="workPlace!=null">
			,work_place
			</if>
			<if test="jobType!=null">
			,job_type
			</if>
			<if test="industry!=null">
			,industry
			</if>
			<if test="beginDate!=null">
			,begin_date
			</if>
			<if test="endDate!=null">
			,end_date
			</if>
			<if test="dimissionReason!=null">
			,dimission_reason
			</if>
			<if test="duty!=null">
			,duty
			</if>
			<if test="performance!=null">
			,performance
			</if>
		</trim>
		)values(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			#{id}
			</if>
			<if test="resumeId!=null">
			,#{resumeId}
			</if>
			<if test="company!=null">
			,#{company}
			</if>
			<if test="department!=null">
			,#{department}
			</if>
			<if test="annualSalary!=null">
			,#{annualSalary}
			</if>
			<if test="job!=null">
			,#{job}
			</if>
			<if test="certifier!=null">
			,#{certifier}
			</if>
			<if test="certifierMobile!=null">
			,#{certifierMobile}
			</if>
			<if test="workPlace!=null">
			,#{workPlace}
			</if>
			<if test="jobType!=null">
			,#{jobType}
			</if>
			<if test="industry!=null">
			,#{industry}
			</if>
			<if test="beginDate!=null">
			,#{beginDate}
			</if>
			<if test="endDate!=null">
			,#{endDate}
			</if>
			<if test="dimissionReason!=null">
			,#{dimissionReason}
			</if>
			<if test="duty!=null">
			,#{duty}
			</if>
			<if test="performance!=null">
			,#{performance}
			</if>
		</trim>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="resumeWork">
		update zp_resume_work
		<set>
			resume_id=#{resumeId},
			company=#{company},
			department=#{department},
			annual_salary=#{annualSalary},
			job=#{job},
			certifier=#{certifier},
			certifier_mobile=#{certifierMobile},
			work_place=#{workPlace},
			job_type=#{jobType},
			industry=#{industry},
			begin_date=#{beginDate},
			end_date=#{endDate},
			dimission_reason=#{dimissionReason},
			duty=#{duty},
			performance=#{performance},
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="resumeWork">
		delete from zp_resume_work
		<include refid="whereSql"/>
	</delete>
</mapper>