<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.ResumeEducationMapper">
	<sql id="whereSql">
		where id=#{id}
			and resume_id=#{resumeId}
	</sql>
	
	<sql id="selectSql">
		select
			id
			,resume_id as resumeId
			,school_name as schoolName
			,major
			,graduate_type as graduateType
			,degree
			,education
			,learn_type as learnType
			,begin_date as beginDate
			,end_date as endDate
			,school_type as schoolType
			,has_been_cadre as hasBeenCadre
			,grade_rank as gradeRank
		from zp_resume_education
	</sql>
	
	<!-- 获得 -->
	<select id="get" parameterType="resumeEducation" resultType="resumeEducation">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- 获得数量 -->
	<select id="getCount" parameterType="int" resultType="int">
		select count(*) from zp_resume_education where resume_id=#{resumeId}
	</select>
	
	<!-- 查询 -->
	<select id="getList" parameterType="int" resultType="resumeEducation">
		<include refid="selectSql"/>
		where resume_id=#{resumeId}
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="resumeEducation" useGeneratedKeys="true" keyProperty="id">
		insert into zp_resume_education(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			id
			</if>
			<if test="resumeId!=null">
			,resume_id
			</if>
			<if test="schoolName!=null">
			,school_name
			</if>
			<if test="major!=null">
			,major
			</if>
			<if test="graduateType!=null">
			,graduate_type
			</if>
			<if test="degree!=null">
			,degree
			</if>
			<if test="education!=null">
			,education
			</if>
			<if test="learnType!=null">
			,learn_type
			</if>
			<if test="beginDate!=null">
			,begin_date
			</if>
			<if test="endDate!=null">
			,end_date
			</if>
			<if test="schoolType!=null">
			,school_type
			</if>
			<if test="hasBeenCadre!=null">
			,has_been_cadre
			</if>
			<if test="gradeRank!=null">
			,grade_rank
			</if>
		</trim>
		)values(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			#{id}
			</if>
			<if test="resumeId!=null">
			,#{resumeId}
			</if>
			<if test="schoolName!=null">
			,#{schoolName}
			</if>
			<if test="major!=null">
			,#{major}
			</if>
			<if test="graduateType!=null">
			,#{graduateType}
			</if>
			<if test="degree!=null">
			,#{degree}
			</if>
			<if test="education!=null">
			,#{education}
			</if>
			<if test="learnType!=null">
			,#{learnType}
			</if>
			<if test="beginDate!=null">
			,#{beginDate}
			</if>
			<if test="endDate!=null">
			,#{endDate}
			</if>
			<if test="schoolType!=null">
			,#{schoolType}
			</if>
			<if test="hasBeenCadre!=null">
			,#{hasBeenCadre}
			</if>
			<if test="gradeRank!=null">
			,#{gradeRank}
			</if>
		</trim>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="resumeEducation">
		update zp_resume_education
		<set>
			resume_id=#{resumeId},
			school_name=#{schoolName},
			major=#{major},
			graduate_type=#{graduateType},
			degree=#{degree},
			education=#{education},
			learn_type=#{learnType},
			begin_date=#{beginDate},
			end_date=#{endDate},
			school_type=#{schoolType},
			has_been_cadre=#{hasBeenCadre},
			grade_rank=#{gradeRank},
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="resumeEducation">
		delete from zp_resume_education
		<include refid="whereSql"/>
	</delete>
</mapper>