<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.ResumeMapper">
	<cache/>
	<sql id="whereSql">
		where id=#{id}
			and user_id=#{userId}
	</sql>
	
	<sql id="selectSql">
		select
			id
			,create_time as createTime
			,modify_time as modifyTime
			,user_id as userId
			,name
			,gender
			,birthday
			,nation
			,height
			,weight
			,id_type as idType
			,id_number as idNumber
			,marriage
			,politics_status as politicsStatus
			,join_party_date as joinPartyDate
			,mobile
			,email
			,highest_education as highestEducation
			,highest_degree as highestDegree
			,graduate_date as graduateDate
			,cee_province as ceeProvince
			,cee_score as ceeScore
			,is_first_line as isFirstLine
			,arts_or_science as artsOrScience
			,admission_order as admissionOrder
			,emergency_contact as emergencyContact
			,emergency_mobile as emergencyMobile
			,children_count as childrenCount
			,is_relative_here as isRelativeHere
			,current_residence as currentResidence
			,family_residence as familyResidence
			,native_place as nativePlace
			,student_origin as studentOrigin
			,registered_residence as registeredResidence
			,certificate
			,hobby
			,personality
			,work_year as workYear
			,work_city as workCity
			,health
			,photo
			,recruit_type as recruitType
		from zp_resume
	</sql>
	
	<!-- 获得 -->
	<select id="get" parameterType="resume" resultType="resume">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- 更新头像 -->
	<update id="updatePhoto" parameterType="resume">
		update zp_resume
		set photo=#{photo}
		<include refid="whereSql"/>
	</update>
	
	<!-- 获得头像 -->
	<select id="getPhoto" parameterType="resume" resultType="resume">
		select photo
		from zp_resume
		<include refid="whereSql"/>
	</select>
	
	<!-- 获得用户的简历ID -->
	<select id="getIdByUserId" parameterType="int" resultType="int">
		select id
		from zp_resume
		where user_id=#{userId}
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="resume" useGeneratedKeys="true" keyProperty="id">
		insert into zp_resume(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			id
			</if>
			<if test="createTime!=null">
			,create_time
			</if>
			<if test="modifyTime!=null">
			,modify_time
			</if>
			<if test="userId!=null">
			,user_id
			</if>
			<if test="name!=null">
			,name
			</if>
			<if test="gender!=null">
			,gender
			</if>
			<if test="birthday!=null">
			,birthday
			</if>
			<if test="nation!=null">
			,nation
			</if>
			<if test="height!=null">
			,height
			</if>
			<if test="weight!=null">
			,weight
			</if>
			<if test="idType!=null">
			,id_type
			</if>
			<if test="idNumber!=null">
			,id_number
			</if>
			<if test="marriage!=null">
			,marriage
			</if>
			<if test="politicsStatus!=null">
			,politics_status
			</if>
			<if test="joinPartyDate!=null">
			,join_party_date
			</if>
			<if test="mobile!=null">
			,mobile
			</if>
			<if test="email!=null">
			,email
			</if>
			<if test="highestEducation!=null">
			,highest_education
			</if>
			<if test="highestDegree!=null">
			,highest_degree
			</if>
			<if test="graduateDate!=null">
			,graduate_date
			</if>
			<if test="ceeProvince!=null">
			,cee_province
			</if>
			<if test="ceeScore!=null">
			,cee_score
			</if>
			<if test="isFirstLine!=null">
			,is_first_line
			</if>
			<if test="artsOrScience!=null">
			,arts_or_science
			</if>
			<if test="admissionOrder!=null">
			,admission_order
			</if>
			<if test="emergencyContact!=null">
			,emergency_contact
			</if>
			<if test="emergencyMobile!=null">
			,emergency_mobile
			</if>
			<if test="childrenCount!=null">
			,children_count
			</if>
			<if test="isRelativeHere!=null">
			,is_relative_here
			</if>
			<if test="currentResidence!=null">
			,current_residence
			</if>
			<if test="familyResidence!=null">
			,family_residence
			</if>
			<if test="nativePlace!=null">
			,native_place
			</if>
			<if test="studentOrigin!=null">
			,student_origin
			</if>
			<if test="registeredResidence!=null">
			,registered_residence
			</if>
			<if test="certificate!=null">
			,certificate
			</if>
			<if test="hobby!=null">
			,hobby
			</if>
			<if test="personality!=null">
			,personality
			</if>
			<if test="workYear!=null">
			,work_year
			</if>
			<if test="workCity!=null">
			,work_city
			</if>
			<if test="health!=null">
			,health
			</if>
			<if test="recruitType!=null">
			,recruit_type
			</if>
		</trim>
		)values(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			#{id}
			</if>
			<if test="createTime!=null">
			,#{createTime}
			</if>
			<if test="modifyTime!=null">
			,#{modifyTime}
			</if>
			<if test="userId!=null">
			,#{userId}
			</if>
			<if test="name!=null">
			,#{name}
			</if>
			<if test="gender!=null">
			,#{gender}
			</if>
			<if test="birthday!=null">
			,#{birthday}
			</if>
			<if test="nation!=null">
			,#{nation}
			</if>
			<if test="height!=null">
			,#{height}
			</if>
			<if test="weight!=null">
			,#{weight}
			</if>
			<if test="idType!=null">
			,#{idType}
			</if>
			<if test="idNumber!=null">
			,#{idNumber}
			</if>
			<if test="marriage!=null">
			,#{marriage}
			</if>
			<if test="politicsStatus!=null">
			,#{politicsStatus}
			</if>
			<if test="joinPartyDate!=null">
			,#{joinPartyDate}
			</if>
			<if test="mobile!=null">
			,#{mobile}
			</if>
			<if test="email!=null">
			,#{email}
			</if>
			<if test="highestEducation!=null">
			,#{highestEducation}
			</if>
			<if test="highestDegree!=null">
			,#{highestDegree}
			</if>
			<if test="graduateDate!=null">
			,#{graduateDate}
			</if>
			<if test="ceeProvince!=null">
			,#{ceeProvince}
			</if>
			<if test="ceeScore!=null">
			,#{ceeScore}
			</if>
			<if test="isFirstLine!=null">
			,#{isFirstLine}
			</if>
			<if test="artsOrScience!=null">
			,#{artsOrScience}
			</if>
			<if test="admissionOrder!=null">
			,#{admissionOrder}
			</if>
			<if test="emergencyContact!=null">
			,#{emergencyContact}
			</if>
			<if test="emergencyMobile!=null">
			,#{emergencyMobile}
			</if>
			<if test="childrenCount!=null">
			,#{childrenCount}
			</if>
			<if test="isRelativeHere!=null">
			,#{isRelativeHere}
			</if>
			<if test="currentResidence!=null">
			,#{currentResidence}
			</if>
			<if test="familyResidence!=null">
			,#{familyResidence}
			</if>
			<if test="nativePlace!=null">
			,#{nativePlace}
			</if>
			<if test="studentOrigin!=null">
			,#{studentOrigin}
			</if>
			<if test="registeredResidence!=null">
			,#{registeredResidence}
			</if>
			<if test="certificate!=null">
			,#{certificate}
			</if>
			<if test="hobby!=null">
			,#{hobby}
			</if>
			<if test="personality!=null">
			,#{personality}
			</if>
			<if test="workYear!=null">
			,#{workYear}
			</if>
			<if test="workCity!=null">
			,#{workCity}
			</if>
			<if test="health!=null">
			,#{health}
			</if>
			<if test="recruitType!=null">
			,#{recruitType}
			</if>
		</trim>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="resume">
		update zp_resume
		<set>
			create_time=#{createTime},
			modify_time=#{modifyTime},
			user_id=#{userId},
			name=#{name},
			gender=#{gender},
			birthday=#{birthday},
			nation=#{nation},
			height=#{height},
			weight=#{weight},
			id_type=#{idType},
			id_number=#{idNumber},
			marriage=#{marriage},
			politics_status=#{politicsStatus},
			join_party_date=#{joinPartyDate},
			mobile=#{mobile},
			email=#{email},
			highest_education=#{highestEducation},
			highest_degree=#{highestDegree},
			graduate_date=#{graduateDate},
			cee_province=#{ceeProvince},
			cee_score=#{ceeScore},
			is_first_line=#{isFirstLine},
			arts_or_science=#{artsOrScience},
			admission_order=#{admissionOrder},
			emergency_contact=#{emergencyContact},
			emergency_mobile=#{emergencyMobile},
			children_count=#{childrenCount},
			is_relative_here=#{isRelativeHere},
			current_residence=#{currentResidence},
			family_residence=#{familyResidence},
			native_place=#{nativePlace},
			student_origin=#{studentOrigin},
			registered_residence=#{registeredResidence},
			certificate=#{certificate},
			hobby=#{hobby},
			personality=#{personality},
			work_year=#{workYear},
			work_city=#{workCity},
			health=#{health},
			recruit_type=#{recruitType},
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="resume">
		delete from zp_resume
		<include refid="whereSql"/>
	</delete>
</mapper>