<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.ResumeAwardMapper">
	<cache/>
	<sql id="whereSql">
		<where>
			id=#{id}
			and resume_id=#{resumeId}
		</where>
	</sql>
	
	<sql id="selectSql">
		select
			id
			,resume_id as resumeId
			,name
			,time
			,level
			,description
		from zp_resume_award
	</sql>
	
	<!-- 获得 -->
	<select id="get" parameterType="resumeAward" resultType="resumeAward">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- 查询 -->
	<select id="getList" parameterType="int" resultType="resumeAward">
		<include refid="selectSql"/>
		where resume_id=#{resumeId}
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="resumeAward">
		insert into zp_resume_award(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			id
			</if>
			<if test="resumeId!=null">
			,resume_id
			</if>
			<if test="name!=null">
			,name
			</if>
			<if test="time!=null">
			,time
			</if>
			<if test="level!=null">
			,level
			</if>
			<if test="description!=null">
			,description
			</if>
		</trim>
		)values(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			#{id}
			</if>
			<if test="resumeId!=null">
			,#{resumeId}
			</if>
			<if test="name!=null">
			,#{name}
			</if>
			<if test="time!=null">
			,#{time}
			</if>
			<if test="level!=null">
			,#{level}
			</if>
			<if test="description!=null">
			,#{description}
			</if>
		</trim>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="resumeAward">
		update zp_resume_award
		<set>
			<if test="id!=null">
			id=#{id}
			</if>
			<if test="resumeId!=null">
			,resume_id=#{resumeId}
			</if>
			<if test="name!=null">
			,name=#{name}
			</if>
			<if test="time!=null">
			,time=#{time}
			</if>
			<if test="level!=null">
			,level=#{level}
			</if>
			<if test="description!=null">
			,description=#{description}
			</if>
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="resumeAward">
		delete from zp_resume_award
		<include refid="whereSql"/>
	</delete>
</mapper>