<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.ResumeFamilyMapper">
	<cache/>
	<sql id="whereSql">
		<where>
			id=#{id}
			and resume_id=#{resumeId}
		</where>
	</sql>
	
	<sql id="selectSql">
		select
			id
			,resume_id as resumeId
			,name
			,relationship
			,work_company as workCompany
			,work_job as workJob
			,description
		from resume_family
	</sql>
	
	<!-- 获得 -->
	<select id="get" parameterType="resumeFamily" resultType="resumeFamily">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- 查询 -->
	<select id="getList" parameterType="int" resultType="resumeFamily">
		<include refid="selectSql"/>
		where resume_id=#{resumeId}
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="resumeFamily">
		insert into resume_family(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			id
			</if>
			<if test="resumeId!=null">
			,resume_id
			</if>
			<if test="name!=null">
			,name
			</if>
			<if test="relationship!=null">
			,relationship
			</if>
			<if test="workCompany!=null">
			,work_company
			</if>
			<if test="workJob!=null">
			,work_job
			</if>
			<if test="description!=null">
			,description
			</if>
		</trim>
		)values(
		<trim prefix="" prefixOverrides=",">
			<if test="id!=null">
			#{id}
			</if>
			<if test="resumeId!=null">
			,#{resumeId}
			</if>
			<if test="name!=null">
			,#{name}
			</if>
			<if test="relationship!=null">
			,#{relationship}
			</if>
			<if test="workCompany!=null">
			,#{workCompany}
			</if>
			<if test="workJob!=null">
			,#{workJob}
			</if>
			<if test="description!=null">
			,#{description}
			</if>
		</trim>
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="resumeFamily">
		update resume_family
		<set>
			<if test="id!=null">
			id=#{id}
			</if>
			<if test="resumeId!=null">
			,resume_id=#{resumeId}
			</if>
			<if test="name!=null">
			,name=#{name}
			</if>
			<if test="relationship!=null">
			,relationship=#{relationship}
			</if>
			<if test="workCompany!=null">
			,work_company=#{workCompany}
			</if>
			<if test="workJob!=null">
			,work_job=#{workJob}
			</if>
			<if test="description!=null">
			,description=#{description}
			</if>
		</set>
		<include refid="whereSql"/>
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="resumeFamily">
		delete from resume_family
		<include refid="whereSql"/>
	</delete>
</mapper>