<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aki.dao.UserMapper">
	<!-- 缓存默认eviction="LRU" flushInterval不设置 size="1024" readOnly="false" -->
	<!-- 用户 -->
	<resultMap type="user" id="userResultMap">
		<id column="u_id" property="id" jdbcType="INTEGER"/>
		<result column="u_username" property="username" jdbcType="VARCHAR"/>
		<result column="u_password" property="password" jdbcType="VARCHAR"/>
		<!-- 角色 -->
		<collection property="roles" ofType="role">
			<id column="r_id" property="id"/>
			<result column="r_name" property="name"/>
			<!-- 权限 -->
			<collection property="permissions" ofType="permission">
				<id column="p_id" property="id"/>
				<result column="p_name" property="name"/>
			</collection>
		</collection>
	</resultMap>
	
	<!-- 用户名查询条件 -->
	<sql id="whereByUsername">
		where ${prefix}email=#{username}
			or ${prefix}mobile=#{username}
			or ${prefix}id_number=#{username}
	</sql>
	
	<!-- 根据用户名查询 -->
	<select id="getAuthByUsername" resultMap="userResultMap" parameterType="string">
		select u.id as u_id
			,u.username as u_username
			,u.password as u_password
			,r.id	as r_id
			,r.name	as r_name
			,p.id	as p_id
			,p.name	as p_name
		from zp_user u
		left join zp_user_role ur
			on ur.user_id=u.id
		left join zp_role r
			on r.id=ur.role_id
		left join zp_role_permission rp
			on rp.role_id=r.id
		left join zp_permission p
			on p.id=rp.permission_id
		<include refid="whereByUsername">
			<property name="prefix" value="u."/>
		</include>
	</select>
	
	<!-- 根据用户名查询账户信息 -->
	<select id="getByUsername" resultType="user" parameterType="string">
		select
			id
			,id_number as isNumber
			,mobile
			,email
			,password
			,question
			,answer
			,create_time as createTime
			,modify_time as modifyTime
		from zp_user
		<include refid="whereByUsername">
			<property name="prefix" value=""/>
		</include>
	</select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		insert into zp_user(
			name,password,id_number,mobile,email,question,answer,create_time,modify_time
		)values(
			#{name},#{password},#{idNumber},#{mobile},#{email},#{question},#{answer},now(),now()
		)
	</insert>
	
	<!-- 是否存在 -->
	<select id="exists" parameterType="user" resultType="int">
		select count(1)
		from zp_user
		<where>
			<if test="email!=null">
				email=#{email}
			</if>
			<if test="mobile!=null">
				or mobile=#{mobile}
			</if>
			<if test="idNumber!=null">
				or id_number=#{idNumber}
			</if>
		</where>
	</select>
</mapper>