<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 任务类 -->
	<context:component-scan base-package="cn.aki.job"/>
    <!-- scheduler -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<property name="triggers">
			<list>
				<ref bean="myJobTrigger"/>
			</list>
		</property>
	</bean>
	
	<!-- trigger -->
	<bean id="myJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="myJobDetail"/>
        <property name="cronExpression">
            <!-- [秒0-59] [分0-59] [小时0-23] [日1-31] [月1-12] [周1-7星期天为1] [年(可选)](A-B A至B,A/B A开始每隔B重复,*全部,?某个) -->
            <value>0/30 0 * * * ?</value>
        </property>
    </bean>
    
    <!-- jobDetail -->
    <bean id="myJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    	<!-- 目标对象 -->
    	<property name="targetObject" ref="myTestJob"/>
    	<!-- 目标方法 -->
    	<property name="targetMethod" value="execute"/>
    </bean>
</beans>